body{
    background-color: #999;
}
.auth{
    overflow: hidden;
    width: 320px;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 0 auto;
}
.auth .auth-title{
    display: flex;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    height: 42px;
}
.auth-title label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    transition: all 300ms;
}
.auth-title label:hover{
    color: #6666ff;
}
/* 选中的下划线 */
.auth-title em{
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 1px;
    width: 50%;
    height: 2px;
    background-color: #f66;
    transition: all 300ms cubic-bezier(.4, .4, .25, 1.35);
}
.auth-form{
    display: flex;
    width: 200%;
    height: 280px;
    transition: all 300ms cubic-bezier(.4, .4, .25, 1.35);
}
.auth-form form{
    flex: 1;
    padding: 20px;
}
/* TODO 切换的代码*/
#login-btn:checked ~ .auth-title label:nth-child(1) {
    font-weight: bold;
    color: #f66;
}

#login-btn:checked ~ .auth-title em {
    transform: translate(0, 0);
}

#login-btn:checked ~ .auth-form {
    transform: translate(0, 0);
}

#logon-btn:checked ~ .auth-title label:nth-child(2) {
    font-weight: bold;
    color: #f66;
}

#logon-btn:checked ~ .auth-title em {
    transform: translate(160px, 0);
}

#logon-btn:checked ~ .auth-form {
    transform: translate(-50%, 0);
}

